/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*My css*/

body {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 30vw 70vw;
}

aside {
  background-color: rgb(80, 80, 177);
  display: grid;
  grid-template-rows: 20% 20% 20%;
  align-content: center;
  align-items: center;
}

main {
  background-color: rgb(218, 94, 94);
}

#main-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.book-card {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  padding: 5%;
}

.book-card > div {
  font-weight: 900;
}